.c-children {
  background-color: $grey-primary;
  padding: $spacing-8xl $spacing-4xl;

  &__list-container {
    @include for-tablet-landscape-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $spacing-xs;
    }
  }
}