//=========== Generics ==============

body {
  font-family: $mainfont
}

a {
  text-decoration: none;
  color: var(link);

  &:hover {
    color: var(link-hover);
    text-decoration: none;
  }
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}